<div class="container my-4">
  <h2 class="mb-4">お気に入りのカフェ</h2>

  <div class="row">
    <% @favorites.each do |favorite| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if favorite.cafe.images.present? %>
            <%= image_tag favorite.cafe.images.url, class: 'card-img-top' %>
          <% else %>
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= favorite.cafe.name %></h5>
            <p class="card-text"><%= favorite.cafe.description %></p>
            <%= link_to '詳細', cafe_path(favorite.cafe), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
