<p>こんにちは <%= @resource.email %>さん！</p>

<p>あなたのパスワードを変更するためのリンクがリクエストされました。下のリンクからパスワードを変更することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールは無視してください。</p>
<p>上記のリンクから新しいパスワードを作成するまで、あなたのパスワードは変更されません。</p>
